<div class="container">
  <div class="row">
    {{!-- first row is the search bar to filter --}}
    <div class="col-md-12" id="filter">
      <input type="text" id="inventory-filter" class="form-control" aria-describedby="inventory-filter"
        placeholder="Filter Items">
      <button id="filter-button" class="btn btn-primary">Submit</button>

    </div>
  </div>

  <div class="row" id="wishlist-div">
    {{!-- next div is the items that are marked as wishlist in the user's inventory --}}
    <div class="col-md-12">
      <h5>Wishlist</h5>
      <table>
        <thead>
          <th>Item Description</th>
          <th>Quantity Desired</th>
          <th>Add/Delete from Inventory</th>
        </thead>
        <tbody>

          {{#each items}} {{#if this.wishlist}}
          <tr>
          <td>{{this.description}}</td>
          <td>{{this.qty}}</td>
          <td><button data-id="{{this.id}}" class="btn btn-success btn-border update">&plus;</button>
          <button data-id="{{this.id}}" class="btn btn-danger btn-border delete">&minus;</button></td>
          </tr>
          {{/if}} {{/each}}

        </tbody>
      </table>

    </div>
  </div>


  <div class="row" id="inventory-div">
    {{!-- this div reveals the items in the user's inventory --}}
    <div class="col-md-12">
      <h5>Current Inventory</h5>
      <table>
        <thead>
          <th>Item Description</th>
          <th>Quantity</th>
          <th>Remove from Inventory</th>
        </thead>
        <tbody>

          {{#each items}} {{#unless this.wishlist}}
          <tr>
          <td>{{this.description}}</td>
          <td>{{this.qty}}</td>
          <td><button data-id="{{this.id}}" class="btn btn-danger btn-border delete">&minus;</button></td>
          </tr>
          {{/unless}} {{/each}}

        </tbody>
      </table>

    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/index.js"></script>